<%include header%>

    <style>
        .titulo {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 5%;
            left: 37%;
        }
        
        .imagen {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 47%;
            left: 10%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
        
        .imagen1 {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 60%;
            left: 45%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
        
        .imagen2 {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 60%;
            left: 58%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
        
        .imagen3 {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 60%;
            left: 83%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
        
        .imagen4 {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 60%;
            left: 20%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
    </style>

    <div class="titulo">
        <h1>Estas son las armas que pueden utilizar los zombies</h1>
    </div>
    <div class="imagen">
        <img src="https://i.pinimg.com/originals/2c/8a/bd/2c8abded477f974bfaa4de5ae77c93ee.png" height="900px">
    </div>
    <div class="imagen1">
        <img src="http://static.wixstatic.com/media/3fdc19_448fe6711a6c4d8284f84acaf6425149.jpg/v1/fill/w_540,h_720,al_c,q_90/3fdc19_448fe6711a6c4d8284f84acaf6425149.webp" height="250px">
    </div>
    <div class="imagen2">
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/c/c0/Crowbar.png/revision/latest?cb=20150102000627&path-prefix=es" height="200px">
    </div>
    <div class="imagen3">
        <img src="https://c8.alamy.com/comp/F7DT3Y/bloody-steel-axe-F7DT3Y.jpg" height="250px">
    </div>
    <div class="imagen4">
        <img src="https://img.staticbg.com/thumb/view/oaupload/banggood/images/A6/EB/d0fd77af-6b72-47c8-868c-83b9296968d5.jpg" height="260px">
    </div>

    <%include footer%>