<%include header%>
    <style>
        .titulo {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 5%;
            left: 37%;
        }
    </style>

    <div class="titulo">
        <h1>Estos son los zombies disponibles</h1>
    </div>

    <form method="post" role="form">

        <style>
            .group {
                position: absolute;
                /*nos posicionamos en el centro del navegador*/
                top: 50%;
                left: 50%;
                /*determinamos una anchura*/
                width: 400px;
                /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                margin-left: -200px;
                /*determinamos una altura*/
                height: 300px;
                /*indicamos que el margen superior, es la mitad de la altura*/
                margin-top: -150px;
                /*border: 1px solid #808080;*/
                padding: 5px;
            }
            
            .imagen1 {
                position: absolute;
                /*nos posicionamos en el centro del navegador*/
                top: 35%;
                left: 50%;
                /*determinamos una anchura*/
                width: 400px;
                /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                margin-left: -200px;
                /*determinamos una altura*/
                height: 300px;
                /*indicamos que el margen superior, es la mitad de la altura*/
                margin-top: -150px;
                /*border: 1px solid #808080;*/
                padding: 5px;
            }
            
            .imagen2 {
                position: absolute;
                /*nos posicionamos en el centro del navegador*/
                top: 78%;
                left: 50%;
                /*determinamos una anchura*/
                width: 400px;
                /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                margin-left: -200px;
                /*determinamos una altura*/
                height: 300px;
                /*indicamos que el margen superior, es la mitad de la altura*/
                margin-top: -150px;
                /*border: 1px solid #808080;*/
                padding: 5px;
            }
            
            .imagen3 {
                position: absolute;
                /*nos posicionamos en el centro del navegador*/
                top: 121%;
                left: 50%;
                /*determinamos una anchura*/
                width: 400px;
                /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                margin-left: -200px;
                /*determinamos una altura*/
                height: 300px;
                /*indicamos que el margen superior, es la mitad de la altura*/
                margin-top: -150px;
                /*border: 1px solid #808080;*/
                padding: 5px;
            }
        </style>

        <div class="imagen1">
            <img src="https://www.dondeir.com/wp-content/uploads/2016/10/tom2-gotcha-de-zombie-c.jpg" height="250px">
            <font color="red">
                Este este zombie es pequeño y debil, pero es muy rapido al momento de correr y perseguir a sus presas
            </font>
        </div>

        <div class="imagen2">
            <img src="https://charlieintel.com/wp-content/uploads/2017/08/Screen-Shot-2017-08-09-at-5.36.29-PM-1021x580.png" height="250px">
            <font color="red">
                Zombie soldado, este zombie es capas de correr largas distancias sin cansarse
            </font>
        </div>
        <div class="imagen3">
            <img src="http://subwallpaper.com/Widescreen-Wallpapers/cod-zombies-wallpapers-high-resolution-For-Widescreen-Wallpaper.jpg" height="250px">
            <font color="red">
                Zombie ranchero, este zombie esta bien alterado y puede hacer cualquier locura!!!
            </font>
        </div>


        <%include footer%>