<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zombies</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        .logo {
            position: absolute;
            /*nos posicionamos en el centro del navegador*/
            top: 20%;
            left: 13%;
            /*determinamos una anchura*/
            width: 400px;
            /*indicamos que el margen izquierdo, es la mitad de la anchura*/
            margin-left: -200px;
            /*determinamos una altura*/
            height: 300px;
            /*indicamos que el margen superior, es la mitad de la altura*/
            margin-top: -150px;
            /*border: 1px solid #808080;*/
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Zombies%21%21%21-logo.svg/585px-Zombies%21%21%21-logo.svg.png" height="150px">

        <body background="http://www.bolsamania.com/cine/wp-content/uploads/2015/11/711.jpg"></body>
        <a href="/Clases" class="btn btn-danger center"> Clases</a>
        <a href="/Armas" class="btn btn-danger center"> Armas</a>
        <a href="/Victimas" class="btn btn-danger center"> Victimas</a>
    </div>